<!DOCTYPE HTML>
<html>
    <head>
    <title> 골라야 골려요</title>
    </head>
<body>
<form action = /search>
    <h1>리그오브레전드 전적 검색</h1>
    소환사검색 <input type ="text" name="userName">
    <input type="submit" value=" 검색">
</form>


</body>
</html>
